* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {
    background-color: rgb(83, 230, 83);
    color: white;
    width: fit-content;
    padding: 80px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    border-bottom-right-radius: 80px;
    border-top-right-radius: 80px;
}

.main h1 {
    font-size: 70px;
}

.main h2 {
    font-size: 40px;
}

.nav {
    background-color: rgb(46, 46, 46);
    height: 80%;
    width: fit-content;
    border: 4px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 20px 40px;
    border-bottom-left-radius: 200px;
    border-top-left-radius: 200px;
    border-top: none;
    border-bottom: none;
}

.nav a {
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.gallery img {
    width: 50%;
}
